{{ if .Content }}
{{ .Content }}
{{ else }}
<p>
  Version {{ .Slug }} is here!
</p>
{{ end }}
<p class="center">
  {{ partial "download-button" }}
</p>


{{ if isset .Params "major" }}
<p><strong>Major Changes</strong></p>
<ul class="ul--decorated ul--major">
  {{ range .Params.major }}
  <li class="changelog__list-item">{{ . }}</li>
  {{ end }}
</ul>
{{ end }}

{{ if isset .Params "fixes" }}
<p><strong>Bug Fixes</strong></p>
<ul class="ul--decorated ul--fix">
  {{ range .Params.fixes }}
  <li class="changelog__list-item">{{ . }}</li>
  {{ end }}
</ul>
{{ end }}

{{ if isset .Params "minor" }}
<p><strong>Minor Changes</strong></p>
<ul class="ul--decorated ul--minor">
  {{ range .Params.minor }}
  <li class="changelog__list-item">{{ . }}</li>
  {{ end }}
</ul>
{{ end }}
