{{ partial "head" . }}
<body class="floating-navbar template-landing">

{{ partial "navbar" . }}

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-12 center">
        <h1>
          Debug APIs like a <span class="jumbotron__undie">human</span>, not a robot
        </h1>
        <h2 class="font-light">
          Finally, a REST client you'll <i>love</i> &#10084;
        </h2>
        {{ partial "download-button" }}
      </div>
    </div>
    <div class="jumbotron__img-container">
      <img src="/images/screens/main.png" class="jumbotron__img" alt="Insomnia REST Client"/>
    </div>
  </div>
</div>

<main role="main">
  <section class="no-margin padding-top-lg padding-bottom-lg">
    <div class="container center">
      <div class="row">
        <div class="col-12">
          <h2 class="text-xxl">
            A visual API client, on all platforms
          </h2>
          <p class="text-lg" style="max-width:35rem;margin:auto">
            Stop debugging API calls with <code>curl</code>
          </p>
        </div>
      </div>
      <div class="row padding-top">
        <div class="col-4">
          <div class="img--promo">
            <img src="/images/screens/template.png" alt="Insomnia Request Templating">
          </div>
          <h3>Create HTTP requests</h3>
          <p>
            Specify URL, payload, headers, and authorization all in one place. Then
            just hit send.
          </p>
        </div>
        <div class="col-4">
          <div class="img--promo">
            <img src="/images/screens/responses.png"
                 alt="Insomnia Request Basic Authentication">
          </div>
          <h3>View response details</h3>
          <p>
            Get all the details on every response. View status code, body,
            headers, cookies, and more!
          </p>
        </div>
        <div class="col-4">
          <div class="img--promo">
            <img src="/images/screens/drag.png" alt="Insomnia Request Organization">
          </div>
          <h3>Organize everything</h3>
          <p>
            Create workspaces or folders, drag-and-drop requests, and easily
            import and export your data.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="dark no-margin padding-bottom-lg padding-top-lg">
    <div class="container center">
      <div class="row">
        <div class="col-12">
          <h2>Interacting with APIs shouldn't be hard</h2>
          <p style="max-width:35rem;margin:auto" class="padding-bottom">
            Construct and send an HTTP request, view response details,
            and generate code for <i>your</i> language, <strong>within seconds.</strong>
          </p>
          {{ partial "download-button" }}
        </div>
      </div>
    </div>
  </section>

  <section class="light no-margin padding-top-lg">
    <div class="container center">
      <div class="row">
        <div class="col-12">
          <h2 class="text-xxl">Want to know more?</h2>
          <p class="text-lg" style="max-width:35rem;margin:auto">
            Here's are a some ways Insomnia helps
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="light no-margin padding-bottom padding-top-lg">
    <div class="container">
      <div class="row row-center-y">
        <div class="col-5">
          <h2>Stop repeating yourself</h2>
          <p>
            Reuse common values like API keys or session IDs. Define environment
            variables globally or switch between sub-environments for a
            <strong>seamless development/production workflow</strong>.
          </p>
        </div>
        <div class="col-7">
          <img src="/images/screens/big/environments.png"
               alt="Insomnia REST Client Cookies">
        </div>
      </div>
    </div>
  </section>

  <section class="no-margin padding-bottom-lg padding-top-lg">
    <div class="container">
      <div class="row row-center-y">
        <div class="col-5">
          <h2>Write less code</h2>
          <p>
            Generate code snippets for <strong>over thirty</strong>
            language libraries,
            including Curl, NodeJS, Go, Swift, Python, Java, C, and others.
          </p>
        </div>
        <div class="col-7">
          <img src="/images/screens/big/code.png" alt="Insomnia REST Client Cookies">
        </div>
      </div>
    </div>
  </section>

  <section class="light no-margin padding-bottom padding-top-lg">
    <div class="container">
      <div class="row row-center-y">
        <div class="col-5">
          <h2>Love the experience &#10084;</h2>
          <p>
            Get started quickly with Insomnia's
            intuitive interface, and choose from <strong>nine unique color themes</strong>
            to tailor the experience to <i>you</i>.
          </p>
        </div>
        <div class="col-7">
          <img src="/images/screens/big/themes.png" alt="Insomnia REST Client Themes">
        </div>
      </div>
    </div>
  </section>

  <section class="light no-margin padding-bottom-lg padding-top">
    <div class="container center">
      <div class="row">
        <div class="col-12">
          <h2>Insomnia is for <i>everyone</i></h2>
          <p style="max-width:35rem;margin:auto" class="padding-bottom">
            Insomnia is cross-platform, quick to learn, and collaborative – making
            it the perfect companion for both individuals and teams.
          </p>
          {{ partial "download-button" }}
          &nbsp;
          <a href="/teams" class="button button--no-outline">Learn About Teams</a>
        </div>
      </div>
    </div>
  </section>

  <section class="dark no-margin padding-bottom-lg padding-top-lg">
    <div class="container">
      <div class="row">
        <div class="col-12 center">
          <h2>Still not convinced, eh?</h2>
          <p>Maybe a list of awesome features will help</p>
        </div>
      </div>
      <div class="row feature-list">
        <div class="col-6">
          <ul>
            <li>Mac, Windows and Linux</li>
            <li>Data import/export</li>
            <li>SSL client certificates</li>
            <li>Response history</li>
            <li>JSONPath and XPath</li>
            <li>Preview rendered HTML</li>
            <li>Multipart form</li>
            <li>Query parameter editor</li>
            <li>Configurable proxy</li>
            <li>Cloud sync and sharing</li>
          </ul>
        </div>
        <div class="col-6">
          <ul>
            <li>Nunjucks templating</li>
            <li>Filter requests</li>
            <li>Toggle SSL validation</li>
            <li>Keyboard shortcuts</li>
            <li>Configurable timeout</li>
            <li>HAR import</li>
            <li>Usable at almost all sizes</li>
            <li>Drag-n-drop organization</li>
            <li>Responsive interface</li>
            <li>Import from <code style="color:#333">curl</code></li>
          </ul>
        </div>
      </div>
      <br>
      <div class="center">
        <p><i>Go on, give it a try. You won't regret it.</i></p>
        <br>
        {{ partial "download-button" }}
      </div>
      <br>
    </div>
  </section>
</main>

{{ partial "footer" . }}
{{ partial "js" . }}

</body>
</html>
